<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>

  <system.serviceModel>
    <services>
      <service name="TBT_Blog.Service.ServiceImplementClass1">
        <endpoint
          address=""
          binding="webHttpBinding"
          contract="TBT_Blog.Service.IServiceAddition"
          bindingConfiguration="ApiQuotaBinding"
          behaviorConfiguration="webHttpBehaviour"/>
      </service>
    </services>
    <bindings>
      <!-- Customizations for REST service -->
      <webHttpBinding>
        <!-- Limits set to 10 MB (specified value in bytes) -->
        <binding name="ApiQuotaBinding"
                  maxReceivedMessageSize="1048576000"
                 maxBufferPoolSize="1048576000"
                 maxBufferSize="1048576000"
                 closeTimeout="00:03:00"
                 openTimeout="00:03:00"
                 sendTimeout="00:03:00">
          <readerQuotas maxDepth="32" maxStringContentLength="104857600" maxArrayLength="1048576000"
                        maxBytesPerRead="104876000"></readerQuotas>
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
